<div class="row">
  <div class="col-sm-12">
    <h2>Your quotes</h2>
    <div class="list-group">
      <div class="list-group-item" *ngFor="let quote of quotes; let i=index">
         
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-heading" (click)="onViewQuote(i)" style="cursor:pointer">
              Num offer: {{ ids[i] }}
            </p>
          </div> 
          <div class="row col-sm-6">
            <p class="list-group-item-heading">
              Date: {{ quote.dateQuote | date:'medium' }}
            </p>
          </div> 
        </div>

        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-heading">
              From: {{ quote.addressFrom }}
            <p>
          </div>
          <div class="row col-sm-6">
            <p class="list-group-item-heading">
              To: {{ quote.addressTo }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-heading">
              Price: {{ quote.totalPrice }}
            </p>
          </div>
          <div class="row col-sm-6">
            <button class="btn btn-default" (click)="onDeleteQuote(i)">
              <img src="../../../assets/img/glyphicons-bin.png">
            </button>
          </div>
        </div>
          
    </div> 
  </div>
</div>




