<div class="row">
  <div class="col-sm-12">
    <h2>Your quotes</h2>
    <div class="list-group">
      <button class="list-group-item" *ngFor="let quote of quotes; let i=index" (click)="onViewQuote(i)">
          
        <div class="row">
          <div class="col-sm-6">
            <h5 class="list-group-item-heading">
              Num offer: {{ quote.numOffre }}
            </h5>
          </div> 
          <div class="row col-sm-6">
            <p class="list-group-item-heading">
              Date: {{ quote.date }}
            </p>
          </div> 
        </div>

          <div class="row">
            <div class="col-sm-6">
              <p class="list-group-item-heading">
                From: {{ quote.addressFrom }}
              <p>
            </div>
            <div class="row col-sm-6">
              <p class="list-group-item-heading">
                To: {{ quote.addressTo }}
              </p>
            </div>
          </div>
          <div class="row col-sm-6">
            <p class="list-group-item-heading">
              Price: {{ quote.totalPrice }}
            </p>
          </div>
      </button>

    </div> 
  </div>
</div>




