

  <h1>Price suggestion for housing move</h1>

<div>
  <p>{{ date }}</p>
  <p>{{ name }}</p>
  <p>{{ mail }}</p>
  <p>{{ addressFrom }}</p>
  <p>{{ addressTo }}</p>
</div>

<div>
  <p>Distance: {{ distance }}</p>
  <p>Surface: {{ surface }}</p>
  <p>Attic/Cellar: {{ atticCellar }}</p>
  <input type="checkbox" id="piano" [checked]=piano [disabled]=true> Piano
  <input type="checkbox" id="packHelpful" [checked]=packHelpful [disabled]=true> Pack Helpful
</div>

<div>
  <h3>Estimated price: {{ totalPrice }} incl.VAT</h3>
  <p>We save your price proposal 90 days</p>
  <button class="btn btn-primary" (click)="viewDetails()" type="button">See details</button>
</div>

     
