<div class="row">

  <div class="col-sm-12">
    <h2>Price suggestion for housing move</h2>
  
    <div id="float" class="row col-sm-12">
      
      <div class="col-sm-8">
        <div class="form-group row">
          <label class="col-sm-3">Num offer:</label>
          <div class="col-sm-5">
              <label>{{ numOffer }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Date:</label>
          <div class="col-sm-5">
              <label>{{ date | date:'medium' }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Name:</label>
          <div class="col-sm-5">
              <label>{{ name }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Mail:</label>
          <div class="col-sm-5">
              <label>{{ mail }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">From:</label>
          <div class="col-sm-5">
              <label>{{ addressFrom }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">To:</label>
          <div class="col-sm-5">
              <label>{{ addressTo }}</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Distance:</label>
          <div class="col-sm-5">
              <label>{{ distance }} km</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Surface:</label>
          <div class="col-sm-5">
              <label>{{ surface }} m2</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Attic/Cellar:</label>
          <div class="col-sm-5">
              <label>{{ atticCellar }} m2</label>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-sm-3">Other:</label>
          <div class="col-sm-5">
              <input type="checkbox" id="piano" [checked]=piano [disabled]=true> Piano
          </div>
        </div>
    
        

      </div>

      <div class="col-sm-4 container">
        <div class="form-group row">
          <label>Estimated price: {{ totalPrice }} kr incl.VAT</label>
          <label>We save your price proposal 90 days</label>
          <div>
            <button id="btn-view" class="btn btn-primary" (click)="viewDetails()" type="button">See details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
     
